.login-form {
    width: 300px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }

  .warpper{
    display: flex;
    justify-content: center;
    margin-top: 15%;
  }