$ANIMATION_DURATION: 0.7s;
$NeonGreen:#45f3ff;

body {
  background-color: #191825;
}
.login-form {
  width: 300px;
  position: absolute;
  inset: 2px;
  border-radius: 8px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  color: $NeonGreen;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1rem;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}


.inputbox {
  width: 300px;
  margin-top: -5px;
}


.inputbox input{
  display: flex;
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  color: #b9b8b8;
  outline: none;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}


.inputbox span {
  position: absolute;
  left: 0;
  width: 100%;
  top:17px;
  font-size: 1rem;
  color: #8f8f8f;
  pointer-events: none;
  letter-spacing: 0.05rem;
  transition: 0.5s;
}
.inputbox i{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: $NeonGreen;
}

.inputbox input:focus ~span{
  color: $NeonGreen;
  transform: translateY(-25px);
  font-size: 0.75rem;
}
.fff {
  color: #fff;
}
.warpper {
  background-color: #1c1c1c;
  margin-left: 1%;
  position: relative;
  margin-top: 1%;
  width: 440px;
  height: 470px;
  z-index: 9;
  border-radius: 8px;
}
.warpper2 {
  position: absolute;
  margin-top: 15%;
  margin-left: 15%;
  width: 300px;
  height: 30px;
  z-index: 10;
  background-color: #1c1c1c;
}
.box {
  background-color: #2D4356;
  width: 450px;
  height: 480px;
  position: absolute;
  margin-left: 38%;
  margin-top: 6%;
  z-index: 8;
  border-radius: 8px;
  overflow: hidden;
}

.box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 600px;
  height: 500px;
  transform-origin: bottom right;
  background: linear-gradient(0deg, transparent, #97FEED, #78C1F3);
  animation: animate 4s linear infinite;
}

.box::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 600px;
  height: 500px;
  transform-origin: bottom right;
  background: linear-gradient(0deg, transparent, #FFD93D, #F2CD5C);
  animation: animate 4s linear infinite;
  animation-delay: 2s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#register {
  display: none;
  position: relative;
  width: 300px;
  top:400px;
}
.registerNow {
  padding-top: 10px;
  padding-left: 80px;
}

.registerbtn {
  position: relative;
  left: 40px;
  display: flex;
  width: 210px;
  top: 20px;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  align-content: center;
  padding-left: 75px;
  text-decoration: solid;
  background-color: #F1C93B;
  color: #18122b!important;
}
.registerbtn:hover{
  color: #18122b!important;
  background-color: #FBD85D!important;
}

.reguser {
  position: relative;
  left: 0px;
  width: 300px;
}

.regbtn {
  position: relative;
  left: 10px;
  top:10px;
  background-color: #1677FF;
  color: #fff;
  border: none;
}.regbtn:hover{
  border: #fff;
  color: #fff!important;
  background-color: #1677FF;
}



// Slide Down
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: none;
  }
}
@-moz-keyframes slideDown {
  0% {
    -moz-transform: translate3d(0, -100%, 0);
  }
  100% {
    -moz-transform: none;
  }
}
@-o-keyframes slideDown {
  0% {
    -o-transform: translate3d(0, -100%, 0);
  }
  100% {
    -o-transform: none;
  }
}
@keyframes slideDown {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: none;
  }
}

.u--slideDown {
  -webkit-animation: slideDown $ANIMATION_DURATION;
  -moz-animation: slideDown $ANIMATION_DURATION;
  -o-animation: slideDown $ANIMATION_DURATION;
  animation: slideDown $ANIMATION_DURATION;
}

#password_help {
  position: relative;
  top: 65px;
  right: 300px;
}

.valUserSpan{
  color: $NeonGreen!important;
  transform: translateY(-25px)!important;
  font-size: 0.75rem!important;
}

.valPassSpan{
  color: $NeonGreen!important;
  transform: translateY(-25px)!important;
  font-size: 0.75rem!important;
}

