.logo {
    color: #ffffff;
    background-color: #001529;
    position: relative;
    width: 200px;
    height: 60px;
    top: 2px;
    left: -48px;
    color: #fff;
    font-size: 16px;
  }
  
  .site-layout-background {
    background: #fff;
  }

  .img{
    width: 40px;
    position: relative;
    top:12px;
    left: 20px;
  }